@font-face {
    font-family: 'numeros';
    src: url(../fonts/relogio.ttf);
}

:root {
    --dark: #0D0D0D;
    --sky-blue: #5CC8F2;
    --dark-blue: #011826;
    --soft-blue: #023859;
    --blue: #0468BF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://i.pinimg.com/originals/93/11/85/93118536f1a0b9bc8c95f4f4a599c6cc.jpg');
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fundo {
    height: 100vh;
    color: white;
    text-shadow: 3px 3px 14px black;
    display: grid;
    place-items: center;
}

.calculadora {
    box-shadow: 3px 3px 14px black;
    background: linear-gradient(35deg, #011826, #c0bfbf, #023859, #2e2e2e);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 15px;
    padding: 3%;
}

.calculadora p {
    font-family: 'numeros';
    font-size: 1.8rem;
    color: black;
    background-color: #F0F0F0;
    border-radius: 15px;
    width: 100%;
    text-align: right;
    cursor: pointer;
}


.calculadora p:hover {
    background-color: slategrey;
    color: white;
}

.calculadora p:active {
    background-color: #9aa6b3;
    transform: scale(95%);
}

h1 {
    margin: 30px;
}

.calculadora h2 {
    font-size: 1.5rem;
    margin: 20px;
}

table tr td {
    height: 4rem;
    width: 4rem;
}

button {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 1.3rem;
    box-shadow: 3px 3px #9aa6b3;
}

button:hover {
    color: white;
    background-color: slategrey;
    transform: scale(105%);
}

button:active {
    background-color: #9aa6b3;
    transform: scale(95%);
}


tr:nth-child(1) button,
tr td:nth-child(4) button {
    background: linear-gradient(120deg, #2a369c, #878383);
    color: white;
}

tr:nth-child(1) button:hover,
tr td:nth-child(4) button:hover {
    background: linear-gradient(120deg, #0c1141, #635f5f);
}

tr:nth-child(1) button:active,
tr td:nth-child(4) button:active {
    background: linear-gradient(120deg, #2534ba, #cbc5c5);
}

#resultado {
    width: 14rem;
    height: 2.5rem;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}